@import url(https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #f9ad05 !important;
  border-color: #f9ad05 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e7272d !important;
}
.bg-success {
  background-color: #89b758 !important;
}
.bg-info {
  background-color: #29361a !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e7272d !important;
  border-color: #e7272d !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info,
.btn-info:active {
  background-color: #29361a !important;
  border-color: #29361a !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success,
.btn-success:active {
  background-color: #89b758 !important;
  border-color: #89b758 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #971115;
  color: #971115;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c78b04;
  color: #c78b04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #567633;
  color: #567633;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e7272d !important;
}
.text-secondary {
  color: #fbbe36 !important;
}
.text-success {
  color: #89b758 !important;
}
.text-info {
  color: #29361a !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f18386 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fdde9a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd69f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #5d7b3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #29361a;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e7272d;
  border-color: #e7272d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e7272d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbdfe0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c8ddb1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9dbe78;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e7272d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e7272d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e7272d;
  border-bottom-color: #e7272d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fbbe36 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e7272d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s0Y0pf9cVM .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .nav-item,
.cid-s0Y0pf9cVM .nav-link,
.cid-s0Y0pf9cVM .navbar-caption {
  font-weight: normal;
}
.cid-s0Y0pf9cVM .nav-item:focus,
.cid-s0Y0pf9cVM .nav-link:focus {
  outline: none;
}
.cid-s0Y0pf9cVM .navbar-buttons {
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-s0Y0pf9cVM .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s0Y0pf9cVM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s0Y0pf9cVM .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #188ef4;
}
.cid-s0Y0pf9cVM .navbar.opened {
  transition: all .3s;
  background: #188ef4 !important;
}
.cid-s0Y0pf9cVM .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-s0Y0pf9cVM .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s0Y0pf9cVM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s0Y0pf9cVM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s0Y0pf9cVM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0Y0pf9cVM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s0Y0pf9cVM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s0Y0pf9cVM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s0Y0pf9cVM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s0Y0pf9cVM .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s0Y0pf9cVM .navbar.navbar-short {
  background: #188ef4 !important;
  min-height: 60px;
}
.cid-s0Y0pf9cVM .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s0Y0pf9cVM .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s0Y0pf9cVM .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s0Y0pf9cVM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s0Y0pf9cVM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s0Y0pf9cVM .dropdown-item.active,
.cid-s0Y0pf9cVM .dropdown-item:active {
  background-color: transparent;
}
.cid-s0Y0pf9cVM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s0Y0pf9cVM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s0Y0pf9cVM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #188ef4;
}
.cid-s0Y0pf9cVM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s0Y0pf9cVM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s0Y0pf9cVM ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s0Y0pf9cVM .navbar-buttons {
  text-align: center;
}
.cid-s0Y0pf9cVM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0Y0pf9cVM .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s0Y0pf9cVM a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0Y0pf9cVM .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-s0Y0pf9cVM .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-s0Y0pf9cVM .soc-item {
  margin: .5rem .3rem;
}
.cid-s0Y0pf9cVM .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s0Y0pf9cVM .navbar {
    height: 77px;
  }
  .cid-s0Y0pf9cVM .navbar.opened {
    height: auto;
  }
  .cid-s0Y0pf9cVM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s0Y0qzyby5 {
  overflow-x: hidden !important;
}
.cid-s0Y0qzyby5,
.cid-s0Y0qzyby5 .scroll-wrapper {
  padding-top: 225px;
  padding-bottom: 225px;
}
.cid-s0Y0qzyby5 .mbr-section-title {
  color: #0f7699;
}
.cid-s0Y0qzyby5 .mbr-section-title span {
  color: #e7272d;
}
.cid-s0Y0qzyby5 .mbr-text {
  color: #efefef;
  letter-spacing: 5px;
  font-weight: 100;
}
.cid-s0Y0qzyby5 .scroll-wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-repeat: repeat;
  z-index: 0;
  -webkit-animation-duration: 30s !important;
  animation-duration: 30s;
  background-image: url("../../../assets/images/cq5dam.web.1082.378-3-1082x378.jpg");
  -webkit-animation: scroll-wrapper linear infinite;
  -moz-animation: scroll-wrapper linear infinite;
  -o-animation: scroll-wrapper linear infinite;
  animation: scroll-wrapper linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.cid-s0Y0qzyby5 .scroll-wrapper.second {
  left: calc(100% - 1px);
}
.cid-s0Y0qzyby5 .mbr-overlay {
  z-index: 1;
}
.cid-s0Y0qzyby5 .block-content {
  z-index: 2;
}
@keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.cid-s0YfWnmaUo {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s0YfWnmaUo .nav-tabs .nav-item.open .nav-link:focus,
.cid-s0YfWnmaUo .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-s0YfWnmaUo .nav-tabs {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0px solid lightgray;
}
.cid-s0YfWnmaUo .nav-tabs .nav-item {
  padding: .0rem;
}
.cid-s0YfWnmaUo .nav-link {
  padding: .4rem 0.8rem;
}
.cid-s0YfWnmaUo .nav-tabs .nav-link {
  color: #232323;
  font-style: normal;
  font-weight: 500;
  transition: all .5s;
  background: transparent;
  border: none;
  border-radius: 0 !important;
  border-bottom: 2px solid #232323;
}
.cid-s0YfWnmaUo .nav-tabs .nav-link:hover {
  cursor: pointer;
  color: #1425cc;
  border-bottom: 2px solid #1425cc;
}
.cid-s0YfWnmaUo .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #1425cc;
  font-style: normal;
  border-bottom: 2px solid #1425cc;
}
.cid-s0YfWnmaUo P {
  color: #767676;
}
@media (max-width: 576px) {
  .cid-s0YfWnmaUo .nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  .cid-s0YfWnmaUo .mbr-text,
  .cid-s0YfWnmaUo .nav-link {
    text-align: center;
  }
}
.cid-s0YfI5fdv6 {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #0f8be9;
}
.cid-s0YfI5fdv6 img {
  width: 125px;
  margin: auto;
  filter: brightness(250%);
}
.cid-s0YfI5fdv6 .card {
  transition: opacity 0.3s;
  height: fit-content;
  padding: 1rem 0rem;
  opacity: 0.5;
  margin-bottom: 1rem;
}
.cid-s0YfI5fdv6 .card:hover {
  opacity: 0.9;
}
.cid-s0YfI5fdv6 H1 {
  color: #ffffff;
}
.cid-s0YfI5fdv6 .row {
  justify-content: space-between;
}
@media (min-width: 992px) {
  .cid-s0YfI5fdv6 .col-lg-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
.cid-rZPNK1vFtn {
  padding-top: 120px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rZPNK1vFtn .menu-item {
  padding: 0;
  display: flex;
  margin-bottom: 1.5rem;
}
.cid-rZPNK1vFtn .item-tag {
  background: #89b758;
  width: fit-content;
  padding: 3px 16px 0px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.cid-rZPNK1vFtn .mbr-iconfont {
  font-size: 2.5rem;
  padding-right: 1rem;
  color: #89b758;
}
.cid-rZPNK1vFtn .mbr-figure {
  width: 150px;
  height: 100%;
}
.cid-rZPNK1vFtn .mbr-figure img {
  border-radius: 6px;
  object-fit: cover;
  margin-right: 2rem;
  width: 110px;
  height: 110px;
}
.cid-rZPNK1vFtn .inline-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rZPNK1vFtn .group-title {
  margin: 0;
  color: #181818;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rZPNK1vFtn .mbr-figure {
    width: fit-content !important;
  }
}
@media (max-width: 767px) {
  .cid-rZPNK1vFtn .mbr-figure {
    width: 100%!important;
  }
  .cid-rZPNK1vFtn .menu-item {
    flex-direction: column;
  }
  .cid-rZPNK1vFtn img {
    margin: auto!important;
    margin-bottom: 0.5rem!important;
  }
  .cid-rZPNK1vFtn .item-tag {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-rZPNK1vFtn .icon-wrap {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  width: fit-content;
}
.cid-rZPNK1vFtn .special-label {
  color: #fff;
}
.cid-rZPNK1vFtn .menu-box {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rZPNK1vFtn .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rZPNK1vFtn .menu-row {
  margin: 0;
}
.cid-rZPNK1vFtn .box-text {
  padding: 0;
  margin: 0;
  width: fit-content;
  color: #000000;
}
.cid-rZPNK1vFtn .line {
  display: flex;
  flex: 1 1 auto;
  background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
  background-size: 12px 2px;
  background-position: center;
  margin: .2em .5em;
  background-repeat: repeat;
  height: 2px;
}
.cid-rZPNK1vFtn .group-title,
.cid-rZPNK1vFtn .align-wrap {
  text-align: left;
}
.cid-rZPNK1vFtn SPAN {
  color: #89b758;
}
.cid-rZPNK1vFtn .item-title {
  color: #808080;
}
.cid-rZPNK1vFtn H4 {
  color: #89b758;
}
.cid-s0Y0pf9cVM .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .nav-item,
.cid-s0Y0pf9cVM .nav-link,
.cid-s0Y0pf9cVM .navbar-caption {
  font-weight: normal;
}
.cid-s0Y0pf9cVM .nav-item:focus,
.cid-s0Y0pf9cVM .nav-link:focus {
  outline: none;
}
.cid-s0Y0pf9cVM .navbar-buttons {
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-s0Y0pf9cVM .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s0Y0pf9cVM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s0Y0pf9cVM .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #188ef4;
}
.cid-s0Y0pf9cVM .navbar.opened {
  transition: all .3s;
  background: #188ef4 !important;
}
.cid-s0Y0pf9cVM .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-s0Y0pf9cVM .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s0Y0pf9cVM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s0Y0pf9cVM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s0Y0pf9cVM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0Y0pf9cVM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s0Y0pf9cVM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s0Y0pf9cVM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s0Y0pf9cVM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s0Y0pf9cVM .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s0Y0pf9cVM .navbar.navbar-short {
  background: #188ef4 !important;
  min-height: 60px;
}
.cid-s0Y0pf9cVM .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s0Y0pf9cVM .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s0Y0pf9cVM .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s0Y0pf9cVM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s0Y0pf9cVM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s0Y0pf9cVM .dropdown-item.active,
.cid-s0Y0pf9cVM .dropdown-item:active {
  background-color: transparent;
}
.cid-s0Y0pf9cVM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s0Y0pf9cVM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s0Y0pf9cVM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #188ef4;
}
.cid-s0Y0pf9cVM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s0Y0pf9cVM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s0Y0pf9cVM ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s0Y0pf9cVM .navbar-buttons {
  text-align: center;
}
.cid-s0Y0pf9cVM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0Y0pf9cVM .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s0Y0pf9cVM a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0Y0pf9cVM .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-s0Y0pf9cVM .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-s0Y0pf9cVM .soc-item {
  margin: .5rem .3rem;
}
.cid-s0Y0pf9cVM .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s0Y0pf9cVM .navbar {
    height: 77px;
  }
  .cid-s0Y0pf9cVM .navbar.opened {
    height: auto;
  }
  .cid-s0Y0pf9cVM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s0Y0pf9cVM .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .nav-item,
.cid-s0Y0pf9cVM .nav-link,
.cid-s0Y0pf9cVM .navbar-caption {
  font-weight: normal;
}
.cid-s0Y0pf9cVM .nav-item:focus,
.cid-s0Y0pf9cVM .nav-link:focus {
  outline: none;
}
.cid-s0Y0pf9cVM .navbar-buttons {
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-s0Y0pf9cVM .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s0Y0pf9cVM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0Y0pf9cVM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s0Y0pf9cVM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s0Y0pf9cVM .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #188ef4;
}
.cid-s0Y0pf9cVM .navbar.opened {
  transition: all .3s;
  background: #188ef4 !important;
}
.cid-s0Y0pf9cVM .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-s0Y0pf9cVM .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s0Y0pf9cVM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s0Y0pf9cVM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s0Y0pf9cVM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s0Y0pf9cVM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0Y0pf9cVM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s0Y0pf9cVM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s0Y0pf9cVM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s0Y0pf9cVM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s0Y0pf9cVM .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s0Y0pf9cVM .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s0Y0pf9cVM .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s0Y0pf9cVM .navbar.navbar-short {
  background: #188ef4 !important;
  min-height: 60px;
}
.cid-s0Y0pf9cVM .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s0Y0pf9cVM .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s0Y0pf9cVM .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s0Y0pf9cVM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s0Y0pf9cVM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s0Y0pf9cVM .dropdown-item.active,
.cid-s0Y0pf9cVM .dropdown-item:active {
  background-color: transparent;
}
.cid-s0Y0pf9cVM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s0Y0pf9cVM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s0Y0pf9cVM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #188ef4;
}
.cid-s0Y0pf9cVM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s0Y0pf9cVM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s0Y0pf9cVM ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s0Y0pf9cVM .navbar-buttons {
  text-align: center;
}
.cid-s0Y0pf9cVM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s0Y0pf9cVM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s0Y0pf9cVM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0Y0pf9cVM .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s0Y0pf9cVM a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0Y0pf9cVM .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-s0Y0pf9cVM .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-s0Y0pf9cVM .soc-item {
  margin: .5rem .3rem;
}
.cid-s0Y0pf9cVM .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s0Y0pf9cVM .navbar {
    height: 77px;
  }
  .cid-s0Y0pf9cVM .navbar.opened {
    height: auto;
  }
  .cid-s0Y0pf9cVM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
